
<!-- Preloader -->

<div id="preloader">
    <div id="status"></div>
</div>

<header class="header">
    <% include partials/header.ejs %>
</header>
<!-- Services start -->



<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">keep your focus and optimize your productivity</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-3">

                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Alarm Clock</h3>
                        <div class="iconbox-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Reminder</h3>
                        <div class="iconbox-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-badge"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Question</h3>
                        <div class="iconbox-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-question"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Scale</h3>
                        <div class="iconbox-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- Services end -->

<!-- CallToAction start -->

<section class="calltoaction">
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
                <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                    Take the first step now!
                </div>
            </div>

            <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
                <a href="#contact" class="btn btn-lg">Join Rememe</a>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- CallToAction end -->




<!-- Contact start -->

<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">Contact me</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                    </div>
                </div>

            </div>

        </div><!-- .row -->

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <form id="contact-form" role="form">
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">Name</label>
                            <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">Email</label>
                            <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                    </div>
                    <div class="ajax-response"></div>
                </form>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- Contact end -->
<footer>
    <% include partials/footer.ejs %>
</footer>

